<chars:>
<div class='widget-chars'>
  <a class='big car-1' rel='car-1' x-bind='click: selectChar'></a>
  <a class='big car-2' rel='car-2' x-bind='click: selectChar'></a>
  <a class='big car-3' rel='car-3' x-bind='click: selectChar'></a>
  <a class='big car-4' rel='car-4' x-bind='click: selectChar'></a>
  <a class='big car-5' rel='car-5' x-bind='click: selectChar'></a>
  <a class='big car-6' rel='car-6' x-bind='click: selectChar'></a>
  <a class='big car-7' rel='car-7' x-bind='click: selectChar'></a>
  <a class='big car-8' rel='car-8' x-bind='click: selectChar'></a>
  <a class='big car-9' rel='car-9' x-bind='click: selectChar'></a>
  <a class='big car-10' rel='car-10' x-bind='click: selectChar'></a>
  <a class='big car-11' rel='car-11' x-bind='click: selectChar'></a>
  <a class='big car-12' rel='car-12' x-bind='click: selectChar'></a>
  <a class='big car-13' rel='car-13' x-bind='click: selectChar'></a>
  <a class='big car-14' rel='car-14' x-bind='click: selectChar'></a>
  <a class='big car-15' rel='car-15' x-bind='click: selectChar'></a>
  <a class='big car-16' rel='car-16' x-bind='click: selectChar'></a>
  <a class='big car-17' rel='car-17' x-bind='click: selectChar'></a>
  <a class='big car-18' rel='car-18' x-bind='click: selectChar'></a>
  <a class='big car-19' rel='car-19' x-bind='click: selectChar'></a>
  <a class='big car-20' rel='car-20' x-bind='click: selectChar'></a>
  <a class='big car-21' rel='car-21' x-bind='click: selectChar'></a>
  <a class='big car-22' rel='car-22' x-bind='click: selectChar'></a>
  <a class='big car-23' rel='car-23' x-bind='click: selectChar'></a>
  <a class='big car-24' rel='car-24' x-bind='click: selectChar'></a>
  <a class='big car-25' rel='car-25' x-bind='click: selectChar'></a>
  <a class='big car-26' rel='car-26' x-bind='click: selectChar'></a>
  <a class='big car-27' rel='car-27' x-bind='click: selectChar'></a>
  <a class='big car-28' rel='car-28' x-bind='click: selectChar'></a>
  <a class='big car-29' rel='car-29' x-bind='click: selectChar'></a>
  <a class='big car-30' rel='car-30' x-bind='click: selectChar'></a>
  <a class='big car-31' rel='car-31' x-bind='click: selectChar'></a>
  <a class='big car-32' rel='car-32' x-bind='click: selectChar'></a>
  <a class='big car-33' rel='car-33' x-bind='click: selectChar'></a>
  <a class='big car-34' rel='car-34' x-bind='click: selectChar'></a>
  <a class='big car-35' rel='car-35' x-bind='click: selectChar'></a>
  <a class='big car-36' rel='car-36' x-bind='click: selectChar'></a>
  <a class='big car-37' rel='car-37' x-bind='click: selectChar'></a>
  <a class='big car-38' rel='car-38' x-bind='click: selectChar'></a>
  <a class='big car-39' rel='car-39' x-bind='click: selectChar'></a>
  <a class='big car-40' rel='car-40' x-bind='click: selectChar'></a>
  <a class='big car-41' rel='car-41' x-bind='click: selectChar'></a>
</div>
