<Body:>
<div class='page'>
  <div class='container'>
    {#with _player}<app:widget:text>{/}
  </div>
  <div class='right'>
    <app:widget:info>
  </div>
  <div class='players'>
    {#with _player as :player}<app:widget:player>{/}
    {#each _players as :player}
    {#unless equal(:player.id, _userId)}
    <app:widget:player>
    {/}
    {/}
  </div>
  <div class='minigames {showGate(_game._steady, _player.finish)}'>
    <div class='title'>Games</div>
    {#each _games as :minigame}
    {#unless equal(_game.id, :minigame.id)}
    <app:widget:minigame>
    {/}
    {/}
  </div>
</div>
<div class='reveal-modal large' id='chars-box'>
  {#if _showSelectChar as :char}{#with _user as :user}<app:widget:chars>{/}{/}
  <a class='close-reveal-modal'>×</a>
</div>
