<import: src="widget">
<import: src="partial">

<import: src="game">
<import: src="games">

<Root:>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<Head:>
-# Set the viewport width to device width for mobile
%meta(name='viewport' content='width=device-width, initial-scale=1.0')
%link(rel='stylesheet' href='/css/app.css')

<Title:>
Type4Fame | Type for Fame and Win the Game

<Header:>
%header.top-bar
  %ul
    %li.name
      %h1
        %a(href='/') Type4Fame
    %li.toggle-topbar
      %a(href='#')
  %section
    %ul.left
      %li
        %a#en(href='/new/en/') English
      %li
        %a#ru(href='/new/ru/') Russian
    %ul.right
      {#if _user.stats.langs[_game.langId].dicts[_game.dictId]}
      %li.average
        Average: {.average}
      %li.record
        Record: {.record}
      {/}
      {{#if _user.auth.local}}
      %li
        %a(href='/logout' x-bind='click/0: reload')
          {{_user.auth.local.username}}
      {{else}}
      %li
        %a(href='#' data-reveal-id='login-box') Login
      %li.has-button
        %a.button.small(href='#' data-reveal-id='register-box') Register
      {{/}}
%ui:connectionAlert/

<Body:>
Hello

<Footer:>
-# Partials in Pop-up
{{#unless _user.auth.local}}
<app:partial:auth:login>
<app:partial:auth:register>
{{/}}

<Scripts:>
%script(src='/js/foundation/modernizr.foundation.js')
%script(src='/js/foundation/jquery.js')
%script(src='/js/foundation/jquery.cookie.js')
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'FILL IN GA NUMBER']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

<Tail:>
-# Foundation (Uncompressed)
%script(src='/js/foundation/jquery.event.move.js')
%script(src='/js/foundation/jquery.foundation.forms.js')
%script(src='/js/foundation/jquery.placeholder.js')
%script(src='/js/foundation/jquery.event.swipe.js')
%script(src='/js/foundation/jquery.foundation.accordion.js')
%script(src='/js/foundation/jquery.foundation.tabs.js')
%script(src='/js/foundation/jquery.foundation.joyride.js')
%script(src='/js/foundation/jquery.foundation.clearing.js')
%script(src='/js/foundation/jquery.foundation.alerts.js')
%script(src='/js/foundation/jquery.foundation.buttons.js')
%script(src='/js/foundation/jquery.foundation.mediaQueryToggle.js')
%script(src='/js/foundation/jquery.foundation.topbar.js')
%script(src='/js/foundation/jquery.foundation.tooltips.js')
%script(src='/js/foundation/jquery.foundation.orbit.js')
%script(src='/js/foundation/jquery.foundation.navigation.js')
%script(src='/js/foundation/jquery.foundation.reveal.js')
%script(src='/js/foundation/jquery.foundation.magellan.js')
%script(src='/js/foundation.js')
%noscript
  Please enable javascript for a significantly better user experience.

